.chartContainer {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.pieChart > div {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1050px){
    .chartContainer {
        flex-direction: column;
        align-items: center;
    }
}