.App {
  text-align: center;
  padding: 2rem 0;
}

.chart {
  /* width: fit-content; */
  /* padding: 0 13rem ; */
  margin: 3rem auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
